.title{
    text-align: center;
}

.feedbackForm {
    font-family: Arial, sans-serif;
    text-align: right;
    margin-right: 340px;   
}

form{
    text-align: right;
}

.question {
    margin-bottom: 5px;
    display: flex;
}

.question p {
    flex: 1;
    font-weight: 660;
}

.answer{
    display: flex;
    padding-left: 10px;
    width: 296px;
}

label {
    padding-top: 15px;
}

.textField input {
    padding-top: 2px;
    margin-top: 14px;
    padding-bottom: 2px;
    margin-left: 10px;
    width: 290px;
}

.textFieldBig textarea {
    padding-top: 2px;
    margin-top: 14px;
    padding-bottom: 2px;
    margin-left: 10px;
    width: 290px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

button:hover {
    background-color: #a7cdf7;
}

.answer2{
    display: flex;
    justify-content: space-between;
    width: 296px;
    margin-left: 10px;
}