.title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.pizzaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pizzaItem {
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 250px;
}

.pizzaPic{
    width: 230px;
    height: 180px;
}

.pizzaPic img {
    object-fit: cover;
    width: 230px;
    height: 180px;
}

.pizzaInfo{ 
	display: flex; 
	flex-direction: row; 
	align-items: center; 
    margin-top: 10px;     
}

.pizzaItem p {
    margin-top: 10px;
}

.pizzaInfo img {
    width: 20px;
    height: 20px;
}

.price {
    margin-left: 70px;
    margin-right: 10px;
}

.cartButton{
    margin: 20px;
}