.title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.saladsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.saladsItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 215px;
    
}

.saladsItem img {
    object-fit: cover;
    width: 215px;
    height: 170px;
}

.saladsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saladsItem p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.saladsInfo img {
    width: 20px;
    height: 20px;
}

.price {
    margin-left: 65px;
    margin-right: 15px;
}

.saladsControls {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.saladsControls h4 {
    font-weight: bold; 
    padding-left: 20px;
    padding-right: 10px;
    
}