.title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.softdrinksContainer {
    display: flex;
    justify-content: space-around;
}

.softdrinksItem {
    padding: 10px;
    text-align: center;
    max-width: 250px;
}

.softdrinksPicture img{
    object-fit: cover;
    width: 245px;
    height: 175px;
}

.softdrinksInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.softdrinksItem p{
    padding-left: 50px
}

.softdrinksItem h4{
    padding-left: 70px;
    padding-right: 10px
}