.welcome{
	text-align: center;
	font-size: 40px;
	font-weight: 400;
}
.pictureBig {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
  
.pictureBig img {
	width: 250px; 
	height: 200px; 
}
  
.pictureIndex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
}
  
.pictureIndex div {
	position: relative;
	width: 200px;
}
  
.pictureIndex img {
	width: 200px;
	display: block;
}
  
.pictureIndex a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}
  
.pictureIndex a:hover {
	border-radius: 5px;
	background: rgba(44, 46, 179, 0.9);
}
  
.startPicture{
	width: 200px;
	height: 133px;
	margin-bottom: 40px;
}

.startPicture img{
	object-fit: cover;
	width: 200px;
	height: 133px;
}