body {
  margin: 0;
  padding: 0;
}

header {
	background-color: rgb(126, 182, 238);   
  	border: 2px solid black;
 	margin: 0;
  	padding: 0;
}

.container {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 0px;
	width: 100%;
}

.leftSide a{
	flex: 1;
  	margin-left: 10px;
  	text-decoration: none;
  	color: black;	
}

.leftSide a h1{
	padding-bottom: 18px;
	padding-left: 20px;
}

.rightSide {
  	margin-right: 0; 
	font-size: 20px;
}

.rightSide a {
  	margin-right: 15px; 
}

footer {
	background-color: rgb(126, 182, 238);   
  	border: 2px solid black;
	font-weight: 900;
}
  
.footTxt {
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.kursiv{
	font-style: italic;
}

.footTxt h5 {
	font-size: 15px;
	margin: 0;
	margin-left: 10px;	
}

.counterCont{
	display: flex;
	position: fixed;
	align-items: center;
	margin-left: 93%;
}

.counterCont img{
    width: 30px;
    height: 35px;	
}

.counterCont button {
	background: none;
	border: 0;
}

.counter {
    color: black;
    font-size: 30px;
	padding-right: 10px;
}

button{
	cursor: pointer;
}

.cartButton img{
	width: 20px;
	height: 23px;
}